<header class="bg-dark h-100 bg-dark px-4 my-shadow d-flex justify-content-between
align-items-center
">

    <div class="text-light fs-2 fw-bold fst-italic">
        <span>Shopping Point</span>
    </div>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-lg me-3" role="group">
            <button type="button" class="btn btn-outline-light" routerLink="/home">Home</button>
            <div class="btn-group" role="group">
                <button  class="btn btn-outline-light dropdown-toggle" type="button"
                 data-bs-toggle="dropdown"
                 >
            Categories
            </button>
            <ul class="dropdown-menu">
                <ng-container *ngFor="let item of navigationList;let i=index;"
                >
            <li class="text-center fw-bold">{{item.category | titlecase}}</li>
            <li *ngFor="let subcategory of item.subcategories" [style.cursor]="'pointer'">
                <a class="dropdown-item" 
                OpenProducts [category]="{id:0,
                'category':item.category,
            'subCategory':subcategory
            }" >
                    {{subcategory | titlecase}}
                </a>
            </li>
            <li *ngIf="i!=navigationList.length-1">
            <hr class="dropdown-divider">
        </li>    
        </ng-container>

            </ul>
            </div>

        </div>
        <div class="btn-group btn-group-lg me-2" role="group">
            <button type="button"
            (click)="openContainer('login')"
            class="btn btn-outline-light"
            data-bs-toggle="modal"
            data-bs-target="#generalmodal"
            *ngIf="!dataservice.isLogin()"
           >Login</button>
            <button type="button" class="btn btn-outline-light"
            (click)="openContainer('register')"
            data-bs-toggle="modal"
            data-bs-target="#generalmodal"            
            *ngIf="!dataservice.isLogin()"
            >Register</button>
            <!-- <button type="button" class="btn btn-outline-light"
            *ngIf="dataservice.isLogin()"
            routerLink="/Account">Account</button> -->
            <button type="button" class="btn btn-outline-light"
            *ngIf="dataservice.isLogin()"
            routerLink="/cart">Cart
        <span class="badge bg-warning text-dark">{{cartItems}}</span>
        </button>
            <button type="button" class="btn btn-outline-light"
            *ngIf="dataservice.isLogin()"
            routerLink="/orders">Orders</button>
            <button type="button" class="btn btn-outline-light"  routerLink="/Logout"
            (click)="dataservice.Logout()"
            *ngIf="dataservice.isLogin()"
            routerLink="/home"
            >Logout</button>

        </div>
    </div>
</header>
<div class="modal fade" id="generalmodal" data-bs-backdrop="static"
data-bs-keyboard="false" tabindex="-1"
>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" #modaltitle>
            </h5>
            <button type="button" class="btn-close"
            data-bs-dismiss="modal" aria-label="Close"
            ></button>
        </div>
        <div class="modal-body">
<ng-container #container></ng-container>
        </div>

    </div>

</div>

</div>